[submodule "java/core-proxy"]
	path = java/core-proxy
	url = https://github.com/intisy-ai/core-proxy.git
[submodule "anthropic-translator"]
	path = anthropic-translator
	url = https://github.com/intisy-ai/anthropic-translator.git
